@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.container {
   display: flex;
   justify-content: center;
   align-items: center;
   min-width: 320px;
   height: 100vh;
   background: black;
   transition: all 0.3s ease-out;

   button {
      background: black;
      color: white;
      font-family: 'Montserrat';
      font-size: 28px;
      text-transform: unset;
      padding: 4px 18px;

      &:hover {
         background-color: black;
      }
   }

}
